.weather {
  &__title {
    padding: 15px 0;
    font-size: 36px;
    text-align: center;
  }

  &__grid {
    display: flex;
    justify-content: space-around;
  }

  &__for-day {
    width: 100%;
    margin: 0 5px;
    padding: 10px 5px;
    border: 2px solid #b05f6d;
  }
}
.weather-day {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
  }

  &__date {
    margin: 5px 0;
    padding: 5px 0;
    border-radius: 5px;
    font-size: 12px;
    text-align: center;
    background: #ffc153;
  }

  &__temperature {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
  }
}
