<h1 class="title">выбрать лестницу</h1>

    <form class="pop-up__form add-item" action="">
        <div class="add-item__section">
            <label for="item-name">Назавние комнаты</label>
            <input class="add-item__text" type="text" name="add item name" id="item-name" />
        </div>
        <div class="add-item__section">
            <label for="item-name">Цена</label>
            <input class="add-item__text" type="text" name="add item name" id="item-name" />
        </div>

        <button class="add-item__btn btn" id="submit-item">Save</button>
    </form>

