.todo-task {
  display: flex;
  justify-content: space-between;
}

.todo__add {
  display: flex;
  justify-content: space-between;
}

.todo__input_text {
  width: 100%;
  margin-right: 20px;
  
}

.todo__add {
  margin-bottom: 30px;
  background: #e1e1e1;
  padding: 15px 0;
}

.todo__task {
  margin-bottom: 15px;
}


.todo-task_box {
  padding: 5px;
}

.todo-task__done {
border: 1px solid salmon;
flex-basis: 30px;
text-align: center;
}

.todo-task__name {
  border: 1px solid salmon;
  flex-grow: 3;
  text-align: center;
}

.todo-task__edit {
  border: 1px solid salmon;
  
  text-align: center;
}

.todo-task__del {
  border: 1px solid salmon;
 
  text-align: center;
}