.add-item {
  &__section {
    padding: 15px 0;
  }

  &__text {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #09194f;
    outline: none;
  }

  &__text:focus {
    background: #dededf;
  }
  &__btn {
    display: block;
    margin: 15px auto;
    padding: 15px;
    width: 200px;
    border: 0;
  }


  &__btn:disabled {
    border: 2px solid #09194f;
    background: #ffffff;
    color: #09194f;
    opacity: 0.5;
}

&__btn:hover:enabled {
  background: linear-gradient(135deg, #09194f 0%, #152e80 100%);
  color: #ffffff;
  opacity: 01;
}

}
