<h1 class="title">{{product.name}}</h1>
<div class="single-item">
  <div class="single-item__line">
    <div class="single-item__price">Всего</div>
    <div class="single-item__cost">
      {{ product.price }}<span class="single-item__currency"> BYN</span>
    </div>
  </div>
</div>
{{calc()}}
<div class="list">
  <a class="list__single list-item" [routerLink]="['/products', item.id]"*ngFor="let item of composition">
    <img class="list-item__icon list-item__elem" src="assets/img/pocket.png" />
    <div class="list-item__title list-item__elem">{{item.name}}</div>
    <div class="list-item__price list-item__elem">{{item.price}} BYN </div>
    <img
      class="list-item__delete-icon list-item__elem"
      src="assets/img/delete.png"
    />
  </a>
</div>
