.clients__container {
  display: flex;
  font-size: 1.3rem;
}

.clients__half-col {
  min-width: 50%;
  width: 50%;
  padding-right: 45px;
  box-sizing: border-box;  
}

.clients__half-col_fly {
  position: absolute;
  left: 50%;
  height: 100%;
  padding-right: 0;
}

.clients___title {
  line-height: 1.5;
}

.clients__fluid-bg {
  width: 100%;
  height: 100%;  
  overflow: hidden;
}

.clients__fluid-bg,
.clients__fluid-pic {
  width: 100%;
}

.clients___introduction {
  margin-bottom: 15px;
  margin-top: 5px;
  line-height: 1.35;
  letter-spacing: -0.25px;
}
