.latest__desc,
.showcase__desc {
  width: 48%;
  padding-bottom: 10px;  
}

.latest__products {
  margin: 45px 0 0;
  display: flex;
  justify-content: space-between;
}

.latest__single-product {
  width: 31.6%;
}

.product__img {
  width: 100%;
}

.product__meta {
  display: flex;
  align-items: baseline;
  padding: 13px 0;
}

.product__text {
  line-height: 1.4;
}

.product__category {
  margin-left: 14px;
  padding: 0 10px;
  font-size: 1.25rem;  
  letter-spacing: -0.1px;  
  text-transform: uppercase;
}

.product__extended {
  position: relative;
  display: inline-block;
  padding: 15px 0 0;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: -1px;
  text-decoration: none;
  text-transform: uppercase;
  color: #777c80;
}

.product__extended:hover {
  color: #a1aaaf;
}

.product__title {
  font-size: 1.85rem;
  font-weight: bold;
  color: #505767;
  text-decoration: none;
  cursor: pointer;
}

.product__title:hover {
  color: #a1aaaf;
}

.product__extended::after {
  position: absolute;
  width: 10px;
  height: 2px;
  right: -15px;
  top: calc(50% + 5px);
  background: #1cb9ca;
  content: "";
}
