@media (max-width: 1400px) {
  .footer__top {
    right: 30px;
    bottom: 130px;
  }
}

@media (max-width: 768px) {
  .layout__latest,
  .layout__advantages,
  .layout__footer {
    padding: 70px 0;
    font-size: 1.25rem;
  }

  .layout__main-head {
    padding-top: 48%;
  }

  .header__container {
    padding: 48% 15px 0 22px;
  }

  .header__title {
    font-size: 5.3rem;
  }

  .header__description {
    width: 65%;
  }

  .header__fluid {
    min-height: 1025px;
  }

  .header__controls {
    padding: 52% 0 32px;
    bottom: 5px;
  }

  .sticky-menu {
    background: #ffffff;
  }

  .sticky-menu__logo-img {
    width: 85px;
    height: 19px;
    background: url(../img/logo-dark.png);
    background-size: contain;
  }

  .sticky-menu__logo {
    width: 104px;
  }

  .sticky-menu__container {
    flex-direction: column;
  }

  .header__top-line_sub {
    display: none;
  }

  .sticky-menu__logo {
    align-self: flex-start;
  }

  .sticky-menu__nav-container {
    display: block;
    position: fixed;
    visibility: hidden;
    text-align: center;
    z-index: 2;
  }

  .sticky-menu__nav {
    min-width: 100%;
    margin-top: 5px;
  }

  .sticky-menu__nav-container:last-child {
    padding: 0;
  }

  .navigation__link {
    color: #000000;
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__toggle:checked~.sticky-menu__nav-container {
    visibility: visible;
    left: 0;
    position: static;
    -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
  }

  .navigation__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 35px;
    right: 30px;
    width: 20px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .navigation__btn>span,
  .navigation__btn>span::before,
  .navigation__btn>span::after {
    display: block;
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: #0f0f0f;
  }

  .navigation__btn>span::before {
    content: "";
    width: 8px;
    top: -8px;
  }

  .navigation__btn>span::after {
    content: "";
    width: 24px;
    top: 8px;
  }

  .advantages__single {
    padding: 35px 60px 0px 40px;
  }

  .advantages__container {
    padding-top: 35px;
  }

  .latest__products {
    margin: 45px 0;
  }

  .latest__single-product {
    width: 30.6%;
    padding-bottom: 35px;
  }

  .product__category {
    font-size: 1.25rem;
    margin-left: 14px;
    letter-spacing: -0.1px;
    padding: 0 10px;
    text-transform: uppercase;
  }

  .product__meta {
    flex-direction: column;
  }

  .product__desc {
    padding-top: 7px;
  }

  .product__category {
    margin-left: 0px;
    padding: 0;
  }

  .plans__container {
    align-items: flex-start;
  }

  .plans__item {
    padding: 40px 40px 82px 45px;
  }

  .single-plan__name {
    flex-wrap: wrap;
  }

  .single-plan__price {
    width: 100%;
  }

  .layout__clients_left {
    padding: 100px 25px 83px;
  }

  .clients__container {
    flex-direction: column;
  }

  .clients__container {
    padding: 0;
  }

  .clients__fluid-bg {
    padding-top: 15px;
  }

  .clients__half-col {
    width: 100%;
    min-width: 100%;
  }

  .clients__half-col_fly {
    position: static;
    left: 0;
    height: 100%;
  }

  .clients__fluid-pic {
    width: 100%;
    display: block;
  }

  .review__line {
    margin: 10px 0 15px;
  }

  .companies__single {
    padding: 0 25px;
    width: 33.33%;
    box-sizing: border-box;
  }

  .footer__top {
    display: none;
  }
}

@media (max-width: 720px) {  
  .plans__container {
    flex-direction: column;
  }

  .plans__item {
    width: 100%;
  }

  .advantages__single {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .advantages__single {
    width: 100%;
  }

  .companies__single {
    width: 100%;
  }

  .footer__container_bottom {
    flex-direction: row;
  }

  .footer__copyright {
    text-align: right;
  }

  .footer__copyright-line {
    display: block;
  }

  .header__controls {
    bottom: 15px;
  }

  .footer__container_bottom {
    flex-direction: row;
  }

  .footer__copyright {
    text-align: right;
  }

  .footer__copyright-line {
    display: block;
  }

  .header__controls {
    bottom: 15px;
  }
}

@media (max-width: 375px) {
  .header__container,
  .header__main,
  .main__container,
  .advantages__container,
  .latest__container,
  .partners__container,
  .reviews__container,
  .showcase__container,
  .sticky-menu__container,
  .layout__main-head,
  .footer__container {
    width: 100%;
    max-width: 1190px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    line-height: 1.5;
  }

  .layout__advantages,
  .layout__footer {
    padding: 100px 0;
    font-size: 1.25rem;
  }

  .layout__clients_left {
    padding: 98px 25px 83px 15px;
  }


  .layout__latest {
    padding: 100px 0 60px;
  }

  .layout__showcase {
    padding: 100px 0 52px;
  }

  .layout__main-head {
    padding-top: 48%;
  }

  .layout__partners {
    padding: 98px 0 90px;
  }

  .header__container {
    padding: 39% 0 0 15px;
  }

  .header__fluid {
    min-height: 100px;
    max-height: 666px;
  }

  .header__description {
    width: 100%;
  }

  .advantages__single {
    padding: 42px 40px 42px 50px;
    width: 100%;
  }

  .latest__desc,
  .showcase__desc {
    width: 100%;
  }

  .latest__products {
    flex-wrap: wrap;
  }

  .latest__single-product {
    width: 100%;
    padding-bottom: 48px;
  }

  .product__meta {
    flex-direction: row;
    padding: 13px 0 5px;
  }

  .product__category {
    margin-left: 14px;
  }

  .plans__container {
    padding-top: 40px;
  }

  .plans__item {
    padding: 40px 40px 82px 35px;
  }

  .plans__item_best {
    padding: 90px 40px 130px 35px;
  }

  .single-plan__price {
    width: auto;
  }

  .single-plan__function {
    margin: 30px 0 64px;
  }

  .single-plan__container_best {
    margin: 0;
  }

  .companies__single {
    width: 100%;
    text-align: center;
  }

  .companies__single:not(:first-child) {
    display: none;
  }

  .reviews__single {
    width: 100%;
    padding-left: 40px;
    box-sizing: border-box;
  }

  .clients__half-col {
    padding-right: 0;
  }

  .latest__desc,
  .showcase__desc {
    width: 100%;
  }

  .showcase__desc {
    padding-bottom: 55px;
  }

  .showcase__item {
    width: 100%;
  }

  .showcase__item {
    flex-basis: 100%;
    border-bottom: 4px solid #fafafa;
  }

  .footer__main {
    padding-bottom: 145px;
  }

  .footer__container {
    flex-direction: column;
  }

  .footer__container_bottom {
    flex-direction: row;
  }

  .footer__nav {
    flex-direction: column;
  }

  .footer__social {
    padding-top: 27px;
  }

  .footer__nav,
  .footer__contacts {
    width: 100%;
  }

  .footer__contacts {
    padding: 0;
  }

  .contacts__textarea {
    max-height: 105px;
    margin-bottom: 61px;
  }
}