.showcase {
  background: #fafafa;
}

.showcase__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
}

.showcase__item {
  position: relative;
  color: slategrey;
  border: 1px solid #fafafa;
  box-sizing: border-box;
  cursor: pointer;
}

.showcase__item:hover::before {  
  position: absolute;
  width: 100%;
  height: 100%;  
  top: 0;
  z-index: 1;
  content: ""; 
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.8);   
}

.showcase__item:hover .case__info {
  z-index: 2;
  transform: translateY(-80px);
  transition: all 0.35s 0.1s linear;  
}

.showcase__item_single {
  flex-basis: 33.33%;
}

.showcase__item_double {
  flex-basis: 66.66%;
}

.case__info {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  padding: 15px;
  visibility: hidden;
  color: #ffffff;
}

.case__info-title,
.case__info-desc {
  color: #ffffff;
}

.showcase__item:hover .case__info {
  z-index: 2;
  visibility: visible;  
}

.case__bg img {
  width: 100%;
  display: block;
}