.pop-up__title {
  padding: 15px;
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.pop-up__date {
  text-align: center;
}

.pop-up__select {
  width: 100%;
  margin-bottom: 25px;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  text-align: center;
  color: #ffffff;
  background: #b05f6d;
  cursor: pointer;
}

.pop-up__select_half {
  width: 45%;
  box-sizing: border-box;
}

.pop-up__set-of-weekend {
  display: flex;
  justify-content: space-between;
}

.pop-up__label {  
  padding: 5px 0;
  line-height: 2;
}

.pop-up__checkbox-item {
  display: block;
  margin: 5px 0 15px;
}

.pop-up__label-radio {  
  margin: 15px 0;
}

.pop-up__radio-item {
  margin-right: 35px;
}

.pop-up__btn {
  display: block;
  margin: 15px auto 0;
  width: 100%;
  padding: 1rem 0;
  border-radius: 5px;
  border: 0;
}

.pop-up__close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  border: 0;
  background: #ffffff;
}