.pop-up {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 400px;   
    display: none;
    background: white;
    padding: 15px;
    z-index: 2;
}

.pop-up__title {
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
}

.pop-up__select {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #09194F;
}

.pop-up_active {
    display: block;
}

.add-item__section {
    padding: 15px 0;
}

.add-item__text {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #09194F;
    outline: none;
}

.add-item__text:focus {
  background: #dededf;
}

.single-item_btn {
    display: block;
    margin: 15px auto;
    padding: 15px;
    width: 200px;    
    border: 0; 
}

.add-item__btn {
    display: block;
    margin: 15px auto;
    padding: 15px;
    width: 200px;    
    border: 0;   
}

.btn {
    border-radius: 25px;
    color: #ffffff;
    text-align: center;
    background: #09194F;
    cursor: pointer;
}