.button {
  padding: 20px;
  text-align: center;
  background: #09194f;
  text-transform: uppercase;
  color: #fff;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  display: block;
  border-radius: 25px;
  border: 0;
}
