<h1 class="title">Проект</h1>
<div class="list">
  <a class="list-item__single" routerLink="about">
    <div class="list__single list-item" data-id="1">
      <div class="list-item__title list-item__elem">Проект</div>
    </div>
  </a>

  <a class="list-item__single" routerLink="products">
    <div class="list__single list-item" data-id="2">
      <div class="list-item__title list-item__elem">Мои покупки</div>
    </div>
  </a>

  <a class="list-item__single" routerLink="groups">
    <div class="list__single list-item" data-id="3">
      <div class="list-item__title list-item__elem">Группы покупок</div>
    </div>
  </a>
  <a class="list-item__single" routerLink="rooms">
    <div class="list__single list-item" data-id="3">
      <div class="list-item__title list-item__elem">Комнаты</div>
    </div>
  </a>
</div>
<div class="container__summary summary">
  <div class="summary__icon">
    <img class="summary__img" src="../../../assets/icon/money.png">
  </div>
  <div class="summary__info">
  <div class="summary__total">
    Всего потрачено
  </div>

  <div class="summary__total">
    {{ calcucalte().summary }}<span class="single-item__currency"> BYN</span>
  </div>
</div>
</div>
