$mainColor: #522952;
$additionalColor: #b05f6d;
$semiLightColor: #f3f3f3;
$brightColor: #ffc153;
$dedicatedColor: #47b39d;

.season {
  display: flex;
  align-items: center;

  &__control,
  &__select {
    padding: 15px;
  }

  &__control {
    background: #462446;
    width: 24px;
  }

  &__control:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  &__select {
    width: 100%;
  }

  &__handler {
    width: 100%;
    box-sizing: border-box;
    border: none;
    padding: 15px;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    background: $mainColor;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__item:nth-child(2n) {
    background: $mainColor;
  }

  &__handler_helper {
    background: $additionalColor;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    appearance: auto;
    outline: auto;
  }
}

.arrow {
  &__icon {
    cursor: pointer;
  }

  &__icon {
    height: 30px;
    width: 18px;
    border: none;
    background: url(./../assets/icons/arrow.png);
    background-repeat: no-repeat;
  }
  &__icon_mirrored {
    transform: scaleX(-1);
  }
}

.calendar {
  &__season {
    padding: 15px;
    background: $additionalColor;
  }

  &__days {
    display: flex;
  }

  &__year {
    padding: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

  &__day-of-week {
    width: 100%;
    padding: 15px;
    text-align: center;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
  }

  &__day-of-week:hover {
    background: $additionalColor;
    color: $brightColor;
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    background: $semiLightColor;
  }

  &__day {
    padding: 15px;
    width: calc(100% / 7);
    box-sizing: border-box;
    text-align: center;
  }

  &__day:hover {
    font-weight: 700;
    background: #dadada;
    color: $dedicatedColor;
    cursor: pointer;
  }
}

.day {
  &_current {
    background: $mainColor;
    color: $semiLightColor;
  }

  &_current:hover {
    background: $mainColor;
    color: $semiLightColor;
  }

  &_inactive:hover {
    cursor: auto;
    background: none;
  }
  
  &_prev,
  &_next {
    background: #fafafa;
    color: #b9b9b9;
  }
  
  &_weekend {
    color: $dedicatedColor;
    font-weight: 600;
  }
  
  &_have-tasks {
    position: relative;
  }
  
  &_have-tasks::after {
    position: absolute;
    right: 5px;
    bottom: 5px;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    background: $additionalColor;
    content: "";
  }
}

